/* Wordpress admin specific styles */

/* Increase the size of child post title in the edit parent post screen */
#wpcf-post-relationship table .textfield {
    width: 100% !important;
}

/* Increase the height of regions select box in new post screen */
div#region-all.tabs-panel {
	max-height: 350px;
}

/* Increase the height of sectors select box in new post screen */
div#sector-all.tabs-panel {
	max-height: 600px;
}

.wp-admin.post-type-final-outcome div#sector-all.tabs-panel {
	max-height: 300px;
}
